button {
  border: none;
}

/* desktop & larger screens */
@media screen and (min-width: 1024px) {
  * {
    box-sizing: border-box;
  }

  body {
    margin: auto;
    font-family: "Public Sans";
    font-weight: 300;
    font-size: 18px;
  }

  .big-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .logo {
    height: 20px;
    top: 20px;
    left: 20px;
  }
  /* 1 */
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    padding: 20px 80px 20px 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    flex: 1;
  }
  .button-1 {
    display: flex;
    flex: 1;
    border-radius: 50px;
    width: 100%;
    background-image: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    padding: 10px 20px 10px 20px;
  }

  .button-text-1 {
    color: #eefffe;
    margin: auto;
  }

  .navigation-button {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }

  /* Styles for each navigation item (div) */
  .navigation-button li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 5px solid transparent;
    color: #9c9da1;
    font-size: 16px;
  }

  /* Optional: Add hover styles for better visual feedback */
  .navigation-button li:hover {
    border-bottom: 5px solid hsl(136, 65%, 51%);
  }

  /* 2 */

  .section {
    display: flex;
    background-color: #f8f8fa;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px 20px 80px;
    overflow: hidden;
    flex: 1;
  }

  .section-content {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    margin: auto;
    flex: 0.8;
    padding: 40px 0px 40px 0px;
  }

  .section-paragraph {
    color: #9c9da1;
  }
  .section-para-alignment {
    display: flex;
    margin-top: 24px;
  }

  .section-button {
    display: flex;
    flex: 0.8;
    border-radius: 50px;
    width: 100%;
    background-image: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    padding: 10px 20px 10px 20px;
    margin-top: 24px;
  }

  .section-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1;
  }

  .mockup-image {
    display: flex;
    flex: 1;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 50%;
  }

  .intro-background-image {
    display: flex;
    flex: 1;
    position: relative;
    height: 100%;
    width: 100%;
  }

  /* 3 */
  .sub-section {
    display: flex;
    flex-direction: column;
    background-color: #f4f5f7;
    padding: 60px 80px 60px 80px;
    flex: 1;
  }

  .sub-section-content-up {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 60px;
    overflow-wrap: break-word;
  }

  .sub-section-content-down {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    background-color: #f4f5f7;
    overflow-wrap: break-word;
  }

  .section-paragraph {
    color: #9c9da1;
    font-size: 16px;
    justify-content: flex-start;
    margin-right: 20px;
  }

  .sub-section-para-alignment {
    display: flex;
    flex: 0.8;
    overflow-wrap: break-word;
    font-size: 16px;
  }

  .sub-section-content-down-1 {
    display: flex;
    flex-direction: column;
  }
  .sub-section-content-down-2 {
    display: flex;
    flex-direction: column;
  }
  .sub-section-content-down-3 {
    display: flex;
    flex-direction: column;
  }
  .sub-section-content-down-4 {
    display: flex;
    flex-direction: column;
  }

  .sub-section-content-down-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .online-banking-image {
    height: 80%;
    top: 20px;
    left: 20px;
  }

  .simple-budgeting-image {
    height: 80%;
    top: 20px;
    left: 20px;
  }

  .fast-onboarding-image {
    height: 80%;
    top: 20px;
    left: 20px;
  }

  .open-api-image {
    height: 80%;
    top: 20px;
    left: 20px;
  }

  .sub-section-content-down-title {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .sub-section-content-down-paragraph {
    display: flex;
    width: 100%;

    flex: 1;
  }

  /* 4 */

  .article-container {
    display: flex;
    flex-direction: column;

    padding: 20px 80px 20px 80px;
    background-color: #fafafa;
    flex: 1;
  }

  .article-title {
    display: flex;
    flex: 1;
  }

  /* changed one */
  .article-box {
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  /* changed one */
  .article-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 8px;
    margin: 30px 20px 30px 0px;
    background-color: #ffffff;
    overflow: hidden;
  }
  .article-img-container {
    display: flex;
    flex: 1;

    height: 40%;
    width: 100%;
  }
  .article-img {
  }

  .article-content {
    display: flex;
    flex-direction: column;
    flex: 0.8;
    align-items: flex-start;

    padding: 20px;
    background-color: #ffffff;
  }

  .font-adjustment {
    font-size: 10px;
  }

  .font-adjustment-para {
    font-size: 16px;
    text-align: left;
  }

  .font-adjustment-hover {
    color: #45484e;
    font-size: 18px;
  }

  .article-paragraph {
    color: #9c9da1;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 0px;
  }

  .article-content-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 10px 20px 10px;
  }

  /* changed one */
  .article-body-2 {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .article-content-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 10px 20px 10px;
  }

  /* changed one */
  .article-body-3 {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .article-content-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 10px 20px 10px;
  }

  /* changed one */
  .article-body-4 {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .article-content-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 10px 20px 10px;
  }

  .hoverable-element {
    cursor: pointer;
  }

  .hoverable-element:hover {
    color: #99ecce;
  }

  /* 5 */

  .footer-wrapper {
    display: flex;
    flex-direction: column;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 80px 20px 80px;
    background-color: #2d314e;
    flex: 1;
  }

  .footer-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    flex: 1;
  }

  .footer-icon-1 {
    display: flex;
    flex: 1;
    align-items: flex-start;
  }

  .footer-icon-2 {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
  }

  .svg-container {
    display: flex;
  }

  .social-icon {
    display: flex;
    margin-right: 8px;
  }

  .social-icon:hover {
    display: flex;
    border: 5px solid #99ecce;
  }

  .facebook {
    height: 3vmin;
    top: 20px;
    left: 20px;
  }

  .youtube {
    height: 3vmin;
    top: 20px;
    left: 20px;
  }

  .twitter {
    height: 3vmin;
    top: 20px;
    left: 20px;
  }

  .pinterest {
    height: 3vmin;
    top: 20px;
    left: 20px;
  }

  .instagram {
    height: 3vmin;
    top: 20px;
    left: 20px;
  }

  .footer-nav {
    display: flex;
    flex: 1;
  }
  .footer-nav-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #c7cadd;
    flex: 1;
  }

  .footer-nav-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: #c7cadd;
    flex: 1;
  }

  .footer-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1;
  }

  .last-button {
    display: block;
    border-radius: 50px;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    padding: 10px 30px 10px 30px;
  }

  .attribution {
    font-size: 16px;
    text-align: center;
    color: grey;
    background-color: #2d314e;
  }

  .attribution a {
    color: whitesmoke;
    font-size: 16px;
  }
}

/* mobile screens */

@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
  }

  body {
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: "Public Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
  }

  .big-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }

  /* 1 */

  .header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 8px 10px 20px;
    margin: auto;
    top: 0;
    width: 100%;
    height: 65px;
    z-index: 99;
    flex: 1;
  }

  .button-1 {
    display: none;
  }

  .header-logo {
    flex: 1;
  }
  .navigation-button {
    position: absolute;
    top: 65px;
    right: 0;
    left: 0;
    width: 100vw;
    background-color: #ffffff;
    transition: 0.2s;
    height: 0;
    overflow: hidden;
  }
  .navigation-button ul {
    display: block;
    text-align: center;
    transition: 0.5s;
    width: fit-content;
    margin: 80px auto 80px auto;
    opacity: 0;
  }
  .navigation-button ul li {
    margin-bottom: 12px;
    display: block;
  }
  .navigation-button.active {
    height: 450px;
  }
  .navigation-button.active ul {
    opacity: 1;
  }

  .hamburger {
    cursor: pointer;
  }

  .hamburger .line {
    width: 20px;
    height: 3px;
    margin: 2px;
    background-color: grey;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
  }

  .navigation-button ul li:hover {
    background-color: grey;
  }

  /* 2 */
  .section {
    display: flex;
    background-color: #f8f8fa;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    overflow: hidden;
    flex: 1;
    width: 100%;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    padding: 90px 0px 90px 0px;
    flex: 1;
  }
  .section-content-heading-1 {
    display: flex;
    text-align: center;
  }

  .section-paragraph {
    color: #9c9da1;
    font-size: 16px;
    padding: 10px;
    text-align: center;
  }

  .section-button {
    display: block;
    border-radius: 40px;
    width: 100%;
    height: 45px;
    background-image: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    padding: 10px 30px 10px 30px;
    margin-top: 16px;
  }

  .section-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
  }

  .mockup-image {
    display: flex;
    position: absolute;
    z-index: 1;
    width: 100%;
    padding-bottom: 5px;
    flex: 1;
  }

  .intro-background-image {
    display: flex;
    flex: 1;
    position: relative;
    height: 100%;
    width: 100%;
  }

  /* 3 */

  .sub-section {
    display: flex;
    flex-direction: column;
    background-color: #f4f5f7;
    padding: 10px;
    flex: 1;
  }

  .sub-section-content-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sub-section-content-up-title {
    margin: auto;
    padding: 0px 20px 0px 110px;
  }

  .sub-section-content-down {
    display: flex;
    flex-direction: column;
    background-color: #f4f5f7;
  }

  .sub-section-content-down-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
  }

  .sub-section-content-down-title {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .sub-section-content-down-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex: 1;
  }

  /* 4 */

  .article-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fafafa;
    flex: 1;
  }

  .article-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  /* changed one */
  .article-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }

  .article-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 8px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 40px;
  }

  .article-img-container {
    display: flex;
    flex: 1;
  }

  .article-paragraph {
    color: #9c9da1;
    font-size: 16px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .article-img {
    width: 100%;
    height: 100%;
  }

  .article-content {
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 20px;
    padding: 10px;
    background-color: #ffffff;
  }

  /* 5 */

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2d314e;
    flex: 1;
  }

  .footer-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
  }

  .footer-icon-1 {
    margin-bottom: 20px;
  }

  .social-icon {
    margin-left: 8px;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    margin-bottom: 70px;
    margin-top: 30px;
  }
  .footer-nav-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #c7cadd;
    width: 100%;
  }

  .footer-nav-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #c7cadd;
    width: 100%;
  }
  .footer-nav-list {
    margin-top: 16px;
    font-size: 14px;
  }

  .hoverable-element {
    cursor: pointer;
  }

  .hoverable-element:hover {
    color: #99ecce;
  }

  .footer-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
  }

  .last-button {
    display: block;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    padding: 10px 30px 10px 30px;
  }
  .attribution {
    font-size: 16px;
    text-align: center;
    color: grey;
    background-color: #2d314e;
  }

  .attribution a {
    font-size: 16px;
    color: whitesmoke;
  }
}
