/* desktop & larger screens */
@media screen and (min-width: 1024px) {
  * {
    box-sizing: border-box;
  }

  body {
    margin: auto;
    font-family: "Public Sans";
    font-weight: 300;
    font-size: 18px;
  }

  .big-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* border: 5px solid yellowgreen; */
  }

  .logo {
    height: 20px;
    top: 20px;
    left: 20px;
  }
  /* 1 */
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 5px solid black; */
    background-color: #ffffff;
    padding: 20px 80px 20px 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    flex: 1;
  }
  .button-1 {
    display: block;
    border-radius: 50px;
    width: 100%;
    background-image: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    padding: 16px;
  }

  .button-text-1 {
    color: #eefffe;
    margin: auto;
  }

  .navigation-button {
    display: flex;
    justify-content: space-between;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* width: 200px;
  background-color: #f1f1f1; */
  }

  li {
    display: inline;
  }

  /* Styles for each navigation item (div) */
  .navigation-button li {
    padding: 10px; /* Adjust padding as needed */
    cursor: pointer; /* Show pointer cursor on hover */

    /* display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none; */
  }

  /* Optional: Add hover styles for better visual feedback */
  .navigation-button li:hover {
    background-color: coral; /* Change background color on hover */
  }

  /* 2 */

  .section {
    display: flex;
    /* border: 5px solid orange; */
    background-color: #f8f8fa;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px 20px 80px;
    overflow: hidden;
    flex: 1;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    /* border: 5px solid deeppink; */
    /* margin: auto; */
    /* width: 50%; */
    flex: 1;
  }

  .section-paragraph {
    color: #9c9da1;
    white-space: pre-line;
  }

  .section-button {
    display: block;
    border-radius: 50px;
    width: 50%;
    height: 50px;
    background-image: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    padding-right: 16px;
  }

  .section-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 5px solid aquamarine; */
    /* margin: auto; */
    /* width: 50%; */
    flex: 1;
  }

  .mockup-image {
    display: flex;
    flex: 1;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 50%;
    /* border: 5px solid rgba(255, 127, 234, 0.553); */
  }

  .intro-background-image {
    display: flex;
    flex: 1;
    position: relative;
    height: 100%;
    width: 100%;
    /* border: 5px solid rgba(191, 230, 18, 0.553); */
  }

  /* 3 */
  .sub-section {
    display: flex;
    flex-direction: column;
    /* border: 5px solid red; */
    background-color: #f4f5f7;
    padding: 20px 80px 20px 80px;
    flex: 1;
  }

  .sub-section-content-up {
    display: flex;
    flex-direction: column;
    /* border: 5px solid purple; */
  }

  .sub-section-content-down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 5px solid yellow; */
    /* margin: auto; */
    background-color: #f4f5f7;
  }

  .sub-section-content-down-1 {
    display: flex;
    flex-direction: column;
  }
  .sub-section-content-down-2 {
    display: flex;
    flex-direction: column;
  }
  .sub-section-content-down-3 {
    display: flex;
    flex-direction: column;
  }
  .sub-section-content-down-4 {
    display: flex;
    flex-direction: column;
  }

  .sub-section-content-down-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: 5px solid palevioletred; */
  }

  .online-banking-image {
    height: 80%;
    top: 20px;
    left: 20px;
  }

  .simple-budgeting-image {
    height: 80%;
    top: 20px;
    left: 20px;
  }

  .fast-onboarding-image {
    height: 80%;
    top: 20px;
    left: 20px;
  }

  .open-api-image {
    height: 80%;
    top: 20px;
    left: 20px;
  }

  .sub-section-content-down-title {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    /* border: 5px solid #66ccff; */
  }

  .sub-section-content-down-paragraph {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    /* border: 5px solid #ccff66; */
    flex: 1;
  }

  /* 4 */

  .article-container {
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    border: 5px solid #00ffcc;
    padding: 20px 80px 20px 80px;
    background-color: #ffffff;
    /* justify-content: space-around; */
    flex: 1;
  }

  .article-title {
    display: flex;
    /* border: 5px solid #999966; */
    flex: 1;
  }

  /* changed one */
  .article-box {
    display: flex;
    flex: 1;
    flex-direction: row;
    border: 5px solid black;
    /* justify-content: space-between; */
    /* align-items: center; */
  }

  /* changed one */
  .article-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* border: 5px solid #7c617e; */
    flex: 1;
    border-radius: 8px;
    overflow: hidden;
    /* margin-right: 20px; */
    /* padding: 30px 30px 30px 30px; */
  }
  .article-img-container {
    flex: 1;
    border: 5px solid #57c2da;
    border-radius: 8px;
    /* width: 100%;
    height: 100%; */
  }
  .article-img {
    width: 100%;
    height: 100%;
    /* margin: auto; */
    /* border: 5px solid #dab957; */
  }

  .article-content {
    flex: 1;
    /* width: 100%;
    height: 100%; */
    border: 5px solid #9ac826;
  }

  /* .image-currency {
    display: flex;
    flex: 
     height: ; 
    top: 20px;
    left: 20px;
    border: 3px solid deeppink;
     width: 100%; 
    max-width: 400px; 
     height: auto; 
  }  */

  .article-content-1 {
    display: flex;
    flex-direction: column;
    border: 5px solid hsla(282, 30%, 58%, 0.922);
    justify-content: flex-start;
    padding: 20px 10px 20px 10px;
  }

  /* changed one */
  .article-body-2 {
    display: flex;
    flex-direction: column;
    border: 5px solid hsla(109, 88%, 45%, 0.148);
    flex: 1;
  }

  /* .image-restaurant {
    height: 25vmin;
    top: 20px;
    left: 20px;
    border: 3px solid #14dcff;
  } */

  .article-content-2 {
    display: flex;
    flex-direction: column;
    border: 5px solid hwb(94 5% 17% / 0.922);
    justify-content: flex-start;
    padding: 20px 10px 20px 10px;
  }

  /* changed one */
  .article-body-3 {
    display: flex;
    flex-direction: column;
    border: 5px solid hsl(246, 88%, 45%);
    flex: 1;
  }
  /* 
  .image-plane {
    height: 25vmin;
    top: 20px;
    left: 20px;
    border: 3px solid #d811ba;
  } */

  .article-content-3 {
    display: flex;
    flex-direction: column;
    border: 5px solid rgba(16, 58, 225, 0.922);
    justify-content: flex-start;
    padding: 20px 10px 20px 10px;
  }

  /* changed one */
  .article-body-4 {
    display: flex;
    flex-direction: column;
    border: 5px solid hwb(16 5% 15%);
    flex: 1;
  }

  /* .image-confetti {
    height: 25vmin;
    top: 20px;
    left: 20px;
    border: 5px solid hwb(38 4% 9% / 0.448);
  } */

  .article-content-4 {
    display: flex;
    flex-direction: column;
    border: 5px solid hsla(55, 86%, 57%, 0.923);
    justify-content: flex-start;
    padding: 20px 10px 20px 10px;
  }

  /* .article-images {
  display: flex;
  justify-content: space-between;
  /* background-color: plum;
  border: 5px solid #b30077; */

  /* .article-content {
  display: flex;
  /* border: 5px solid #009999; */
  /* background-color: yellow;
  justify-content: space-around;
  align-items: center;
} */

  .hoverable-element {
    cursor: pointer;
  }

  .hoverable-element:hover {
    color: #99ecce;
  }

  /* 5 */

  .footer-wrapper {
    display: flex;
    flex-direction: column;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    /* border: 5px solid #cc6699; */
    padding: 20px 80px 20px 80px;
    background-color: #2d314e;
    flex: 1;
  }

  .footer-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 5px solid #800080; */
    /* width: 25%; */
    flex: 1;
  }

  .footer-icon-1 {
    align-items: flex-start;
    /* border: 5px solid #558000; */
  }

  .footer-icon-2 {
    align-items: flex-start;
    /* border: 5px solid red; */
  }

  .facebook {
    height: 3vmin;
    top: 20px;
    left: 20px;
  }

  .youtube {
    height: 3vmin;
    top: 20px;
    left: 20px;
  }

  .twitter {
    height: 3vmin;
    top: 20px;
    left: 20px;
  }

  .pinterest {
    height: 3vmin;
    top: 20px;
    left: 20px;
  }

  .instagram {
    height: 3vmin;
    top: 20px;
    left: 20px;
  }

  .footer-nav {
    display: flex;
    flex: 1;
    /* border: 5px solid pink; */
  }
  .footer-nav-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 5px solid #4da6ff; */
    color: #c7cadd;
    flex: 1;

    /* width: 25%; */
  }

  .footer-nav-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 5px solid #ffcc66; */
    color: #c7cadd;
    flex: 1;
    /* width: 25%; */
  }

  .footer-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    /* border: 5px solid #a38585; */
    flex: 1;

    /* width: 25%; */
  }

  .last-button {
    display: block;
    border-radius: 50px;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    padding: 10px 30px 10px 30px;
  }

  .attribution {
    font-size: 16px;
    text-align: center;
    color: grey;
  }

  .attribution a {
    color: blue;
    font-size: 16px;
  }
}

/* mobile screens */
@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
  }

  body {
    /* margin: auto; */
    /* border: 5px solid red; */
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: "Public Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
  }

  .big-container {
    display: flex;
    flex-direction: column;
    /* border: 5px solid yellowgreen; */
    width: 100%;
    overflow: hidden;
  }

  /* 1 */

  .header {
    position: fixed;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    /* border: 5px solid black; */
    background-color: #ffffff;
    padding: 10px 8px 10px 20px;
    margin: auto;
    top: 0;
    width: 100%;
    height: 65px;
    z-index: 99;
    flex: 1;
  }

  .logo {
    /* height: 25px;
    top: 10px;
    left: 10px; */
  }

  .button-1 {
    display: none;
  }
  .navigation-button {
    /* display: none; */
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    width: 100vw;
    background-color: #ffffff;
    transition: 0.2s;
    height: 0;
    overflow: hidden;
  }
  .navigation-button ul {
    display: block;
    text-align: center;
    transition: 0.5s;
    /* border: 5px solid red; */
    width: fit-content;
    margin: 80px auto 80px auto;
    opacity: 0;
  }
  .navigation-button ul li {
    /* display: block;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px; */
    margin-bottom: 12px;
    display: block;
  }
  .navigation-button.active {
    height: 450px;
  }
  .navigation-button.active ul {
    opacity: 1;
  }

  .hamburger {
    cursor: pointer;
  }

  .hamburger .line {
    width: 20px;
    height: 3px;
    margin: 2px;
    background-color: grey;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* width: 200px;
  background-color: #f1f1f1; */
  }

  li {
    display: inline;
  }

  .navigation-button ul li:hover {
    background-color: grey;
  }

  /* 2 */
  .section {
    display: flex;
    /* border: 5px solid orange; */
    background-color: #f8f8fa;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    overflow: hidden;
    flex: 1;
    width: 100%;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 5px solid deeppink; */
    margin: auto;
    width: 100%;
    padding: 90px 0px 90px 0px;
    flex: 1;
  }
  .section-content-heading-1 {
    display: flex;
    /* font-size: 20px; */
    text-align: center;
    /* border: 5px solid rgba(255, 20, 145, 0.19); */
  }

  .section-paragraph {
    color: #9c9da1;
    font-size: 16px;
    /* align-items: center;
    justify-content: center; */
    /* border: 5px solid rgb(255, 20, 220); */
    padding: 10px;
    text-align: center;
  }

  .section-button {
    display: block;
    border-radius: 40px;
    width: 100%;
    height: 45px;
    background-image: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    padding: 10px 30px 10px 30px;
    margin-top: 16px;
  }

  .section-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 5px solid aquamarine; */
    margin: auto;
    width: 100%;
  }

  .mockup-image {
    display: flex;
    position: absolute;
    z-index: 1;
    /* height: 80%; */
    width: 100%;
    /* border: 5px solid blue; */
    padding-bottom: 5px;
    flex: 1;
  }

  .intro-background-image {
    display: flex;
    flex: 1;
    position: relative;
    height: 100%;
    width: 100%;
    /* border: 5px solid yellow; */
  }

  /* 3 */

  .sub-section {
    display: flex;
    flex-direction: column;
    /* border: 5px solid #4d004dbd; */
    background-color: #f4f5f7;
    padding: 10px;
    flex: 1;
  }

  .sub-section-content-up {
    display: flex;
    flex-direction: column;
    /* border: 5px solid purple; */
    justify-content: center;
    align-items: center;
  }
  .sub-section-content-up-title {
    /* border: 5px solid yellow; */
    margin: auto;
    padding: 0px 20px 0px 110px;
  }

  .sub-section-content-down {
    display: flex;
    flex-direction: column;
    /* border: 5px solid yellow; */
    background-color: #f4f5f7;
  }

  .sub-section-content-down-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    /* border: 5px solid palevioletred; */
  }

  .sub-section-content-down-title {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: 5px solid #66ccff; */
  }

  .sub-section-content-down-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /* border: 5px solid #ccff66; */
    flex: 1;
  }

  /* 4 */

  .article-container {
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    /* border: 5px solid #ff8000; */
    padding: 20px;
    background-color: #fafafa;
    /* justify-content: space-around; */
    flex: 1;
  }

  .article-title {
    display: flex;
    /* border: 5px solid #2615db; */
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  /* changed one */
  .article-box {
    display: flex;
    flex-direction: column;
    /* border: 5px solid #cc66ff; */
    align-items: center;
    /* background-color: #fafafa; */
    flex: 1;
  }

  .article-body {
    display: flex;
    flex-direction: column;
    /* border: 5px solid #cc0066; */
    flex: 1;
    border-radius: 8px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 40px;
  }

  .article-img-container {
    display: flex;
    flex: 1;
    /* border: 5px solid #57c2da; */
    /* width: 100%; */
  }

  .article-img {
    width: 100%;
    height: 100%;

    /* border: 5px solid #990099; */
    /* padding: 10px; */
    /* border-radius: 8px; */
  }

  .article-content {
    /* flex: 1; */
    /* border: 5px solid #9ac82630; */
    /* align-items: center;
    justify-content: center; */
    font-size: 20px;
    padding: 10px;
    background-color: #ffffff;
  }

  /* 5 */

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 5px solid #cc6699;
    padding: 10px;
    background-color: #2d314e;
    flex: 1;
    /* margin: auto; */
  }

  .footer-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 5px solid #800080; */
    /* padding: 90px; */
    padding-top: 30px;
    width: 100%;
  }

  .footer-icon-1 {
    /* border: 5px solid #558000; */
    margin-bottom: 20px;
  }

  .footer-icon-2 {
    /* border: 5px solid red; */
  }
  .social-icon {
    margin-left: 8px;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* border: 5px solid pink; */
    width: 100%;
    margin-bottom: 70px;
    margin-top: 30px;
  }
  .footer-nav-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 5px solid #4da6ff; */
    color: #c7cadd;
    width: 100%;
    /* padding: 20px 30px 40px 50px; */
  }

  .footer-nav-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 5px solid #ffcc66; */
    color: #c7cadd;
    width: 100%;
    /* padding: 20px 30px 40px 50px; */
  }
  .footer-nav-list {
    margin-top: 16px;
    font-size: 14px;
  }

  .hoverable-element {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    cursor: pointer;
  }

  .hoverable-element:hover {
    color: #99ecce;
  }

  .footer-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 5px solid #a38585; */
    width: 100%;
    padding-top: 10px;
  }

  .last-button {
    display: block;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    padding: 10px 30px 10px 30px;
  }
  .attribution {
    font-size: 16px;
    text-align: center;
    color: grey;
  }

  .attribution a {
    font-size: 16px;
    color: blue;
  }
}
